.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.userprofile{
  background-color: #282c34;
}

.userprofile:hover{
  
  cursor: pointer;
}

.loginPage{
  background-image:url("./Technology.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.textLogin {
  text-shadow: 2px 2px black;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
